.task-detail {
  padding: 10px;
  flex: 1;

  & > button {
    margin-bottom: 4px;
    min-width: 60px;
  }

  .title-info {
    font-size: 18px;
    margin-bottom: 20px;
  }

  .text-list {
    .wrap {
      max-width: 300px;

      input,
      button {
        height: 40px;
      }

      button {
        top: unset;
        bottom: 0;
      }
    }
  }
}
